<link rel="stylesheet" href="/static/css/bestplayer.css" />

<div class= "menu__container">
    <div class="menu"><image style="width:90%;" src="/static/images/Chelsea_FC_Logo.svg.png"></image></div>
</div>
<div class= "menu__container">
    <div class="menu"><image style="width:90%;" src="/static/images/img.png"></image></div>
</div>
<div class= "menu__container">
    <div class="menu"><image style="width:90%;" src="/static/images/spurs-blue-no-text-300x300.png"></image></div>
</div>
<div class= "menu__container">
    <div class="menu"><image style="width:90%;" src="/static/images/Mahchester_logo.png"></image></div>
</div>
