<div class="section-fluid-main">
  <div class="section-row">
    <div class="section-col">
      <div class="section">
        <div class="section-in">
          <img src="/static/images/joao-felix-everton-line-up.webp" alt="" />
        </div>
      </div>
    </div>
    <div class="hover-text">
      <h2>MEN'S FIRST TEAM</h2>
    </div>
    <div class="section-col">
      <div class="section">
        <div class="section-in">
          <img
            src="/static/images/Reiten_celeb_Brighton_H_GettyImages-1472154441.webp"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="hover-text">
      <h2>WOMEN'S FIRST TEAM</h2>
    </div>
    <div class="section-col">
      <div class="section">
        <div class="section-in">
          <img
            src="/static/images/Team_celebrating_Mason_Burstows_goal_Liverpool_PL2_home_2223.webp"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="hover-text">
      <h2>ACADEMY</h2>
    </div>
    <div class="section-col">
      <div class="section">
        <div class="section-in">
          <img src="/static/images/Womens_FA_Cup_Vitality.webp" alt="" />
        </div>
      </div>
    </div>
    <div class="hover-text">
      <h2>WINNER</h2>
    </div>

    <a href="https://front.codes/" class="logo" target="_blank">
      <img src="" alt="" />
    </a>
  </div>
</div>
