<!-- font awesome -->
<script src="https://kit.fontawesome.com/f0ebd696f1.js" crossorigin="anonymous"></script>

<div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>yoon changhoon</h3>
          <ul class="list-unstyled links">
            <li><a href="https://github.com/onenationonemind1"><i class="fa-brands fa-github"></i> Github</a></li>
            <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            <li><i class="fa-regular fa-envelope"></i> Email : changhoon@gmail.com</li>
            <li><i class="fa-solid fa-mobile-screen"></i> call : 010-1111-1111</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>Jung sungyun</h3>
          <ul class="list-unstyled links">
            <li><a href="https://github.com/coing-ye"><i class="fa-brands fa-github"></i> Github</a></li>
            <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            <li><i class="fa-regular fa-envelope"></i> Email : sungyun@gmail.com</li>
            <li><i class="fa-solid fa-mobile-screen"></i> call : 010-1111-1111</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>Han jinsu</h3>
          <ul class="list-unstyled links">
            <li><a href="https://github.com/hanjinsu302"><i class="fa-brands fa-github"></i> Github</a></li>
            <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            <li><i class="fa-regular fa-envelope"></i> Email : jinsu@gmail.com</li>
            <li><i class="fa-solid fa-mobile-screen"></i> call : 010-1111-1111</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>Hong junbeom</h3>
          <ul class="list-unstyled links">
            <li><a href="https://github.com/hanjinsu302"><i class="fa-brands fa-github"></i> Github</a></li>
            <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            <li><i class="fa-regular fa-envelope"></i> Email : junbum766@gmail.com</li>
            <li><i class="fa-solid fa-mobile-screen"></i> call : 010-1111-1111</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <div class=" pt-5">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script> All rights reserved | This template is made with <i class="icon-heart"
              aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>

    </div>
  </div>