<title>Premierer</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/static/fonts/icomoon/style.css" />
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css" />
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/owl.carousel.min.css" />
<link rel="stylesheet" href="/static/css/owl.theme.default.min.css" />
<link rel="stylesheet" href="/static/css/owl.theme.default.min.css" />
<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" />
<link rel="stylesheet" href="/static/css/bootstrap-datepicker.css" />
<link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css" />
<link rel="stylesheet" href="/static/css/aos.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
/>
<link rel="stylesheet" href="/static/css/bookstyle.css" />
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery.mb.YTPlayer/3.3.4/css/jquery.mb.YTPlayer.min.css"
/>

<!-- 토트넘 페이지 css 들 -->
<link rel="stylesheet" href="/static/css/totteumstyle.css" />
<link rel="stylesheet" href="/static/css/totteumbookstyle.css" />
<link rel="stylesheet" href="/static/css/totteumview.css" />

<link rel="stylesheet" href="/static/css/chelseastyle.css" />
<link rel="stylesheet" href="/static/css/chelseabookstyle.css" />
<link rel="stylesheet" href="/static/css/chelseaview.css" />




<!-- 로고 슬라이드 관련 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link rel="stylesheet" href="/static/css/logoslide.css" />