<div class="container">
  <div class="d-flex align-items-center">
    <div class="site-logo">
      <a href="index">
        <p style="font-size: 40px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Premierer</p>
      </a>
    </div>
    <div class="ml-auto">
      <nav
        class="site-navigation position-relative text-right"
        role="navigation"
      >
        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
          <li><a href="index" class="nav-link">Home</a></li>
          <li><a href="matches" class="nav-link">Matches</a></li>
          <li><a href="players" class="nav-link">Players</a></li>
          <li id="teamlist"><a href="#" class="nav-link">Teams</a></li>
        </ul>
      </nav>

      <a
        href="#"
        class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"
        ><span class="icon-menu h3 text-white"></span
      ></a>
    </div>
  </div>
  <div class="logo-slide-body" style="display:none;"  > 
    <%- include('logoSlide')%>
  </div>
</div>


