<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('head') %>
  </head>
  <body>
    <audio autoplay>
      <source
        src="/static/audio/Saint-Motel-My-Type-via-Naijafinix.com_.ogg"
        type="audio/ogg"
      />
      <source
        src="/static/audio/Saint-Motel-My-Type-via-Naijafinix.com_.mp3"
        type="audio/mp3"
      />
    </audio>
    <header class="site-navbar py-4" role="banner">
      <%- include('header') %>
    </header>
    <div class="site-wrap">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <div class="hero overlay">
        <div class="bg-video" id="background-video">
          <video
            volumne="1"
            style="z-index: -1; width: 100%; height: 100%"
            class="bg-video__content"
            autoplay
            muted
            loop
          >
            <source src="/static/images/bg_1.mp4" type="video/mp4" />
            Something Problem!
          </video>
        </div>
        <div class="container" style="z-index: 2">
          <div class="row align-items-center">
            <div class="col-lg-5 ml-auto">
              <h1 class="text-white">Premier Leage</h1>
              <p>Get ready for the start of the 2023-2024 Preimier Leage</p>
              <div id="date-countdown"></div>
              <p>
                <a href="#" class="btn btn-primary py-3 px-4 mr-3"
                  >Book Ticket</a
                >
                <a href="#" class="more light">Learn More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="slidebook" style="height:100vh;">
      <%# include('slidebook'); %>
    </div> -->
      <footer class="footer-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="widget mb-3">
                <h3></h3>
                <ul class="list-unstyled links">
                  <li><a href="#">All</a></li>
                  <li><a href="#">Club News</a></li>
                  <li><a href="#">Media Center</a></li>
                  <li><a href="#">Video</a></li>
                  <li><a href="#">RSS</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="widget mb-3">
                <h3>Tickets</h3>
                <ul class="list-unstyled links">
                  <li><a href="#">Online Ticket</a></li>
                  <li><a href="#">Payment and Prices</a></li>
                  <li><a href="#">Contact &amp; Booking</a></li>
                  <li><a href="#">Tickets</a></li>
                  <li><a href="#">Coupon</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="widget mb-3">
                <h3>Matches</h3>
                <ul class="list-unstyled links">
                  <li><a href="#">Standings</a></li>
                  <li><a href="#">World Cup</a></li>
                  <li><a href="#">La Lega</a></li>
                  <li><a href="#">Hyper Cup</a></li>
                  <li><a href="#">World League</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="widget mb-3">
                <h3>Social</h3>
                <ul class="list-unstyled links">
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Youtube</a></li>
                </ul>
              </div>
            </div>
          </div>
    <!-- .site-wrap -->
  </body>
  <%- include('jsinclude') %>
</html>