

 
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" id="manchester-united">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t1@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="liverpool">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t14@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="manchester-city">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t43@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="chelsea">
            <a href="chelsea">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t8@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="arsenal">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t3@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="tottenham">
            <a href="tottenum">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t6@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="newcastle">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t4@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="everton">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t11@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="aston-villa">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t21@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="brighton">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t36@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="crystal-palace">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t31@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="leeds-united">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t2@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="fulham">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t54@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="nottingham-forest">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t17@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="leicester-city">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t39@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="wolverhampton">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t13@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="brentford">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t94@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="westham-united">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t13@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="southampton">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t20@x2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide" id="bournemouth">
            <a href="#">
                <img src="https://resources.premierleague.com/premierleague/badges/50/t91@x2.png" alt="">
            </a>
        </div>
    </div>
      <!-- pagination -->
      <div class="swiper-pagination"></div>
      <!-- 화살표 -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <!-- 스크롤바 -->
      <div class="swiper-scrollbar"></div>
    </div>
    
