<!DOCTYPE html>
<html lang="kor">
  <head>
    <!-- <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title> -->
    <link rel="stylesheet" href="../static/css/staticStyle.css" />
    <script defer src="../static/js/staticAnimation.js"></script>
  </head>
  <body class="back1">
    <section class="box">
      <section class="text10">
        <h1 class="tatics1"><br />Tottenham</h1>
        <div class="box1">
          <img
            class="logo321 hidden2"
            src="../static/images/logo321.png"
            alt="Tottenham Hotspur Logo - Tottenham Hotspur Logo @clipartmax.com"
            alt=""
          />
        </div>
        <h1 class="tatics">3-4-3 TATICS</h1>
      </section>
      <!-- <div class="box1">
        <img
          class="logo321"
          src="../static/images/lo"
          alt="Tottenham Hotspur Logo - Tottenham Hotspur Logo @clipartmax.com"
          alt=""
        />
      </div> -->

      <!-- <div>
        <section class="player">
          <div class="player1">
            <img class="img1" src="./son.png" alt="" />
          </div>
        </section>
      </div> -->

      <div class="card">
        <div class="card2">
          <div class="test1">
            <img
              class="img1 player-main"
              src="https://cdne-totv8-prod-southeastasia.azureedge.net/media/5x0nw0o0/firstteam_profiles_202223_hugolloris.png?anchor=center&mode=crop&quality=100&width=750"
              alt=""
            />
          </div>
          <div class="test2">
            <img
              class="img2 player-main"
              src="https://cdne-totv8-prod-southeastasia.azureedge.net/media/1pfdtxbs/firstteam_profiles_202223_davinsonsanchez.png?anchor=center&mode=crop&quality=100&width=750"
              alt=""
            />
          </div>
          <div class="test3">
            <img
              class="img3 player-main"
              src="https://cdne-totv8-prod-southeastasia.azureedge.net/media/r2pc55wr/firstteam_profiles_202223_ericdier.png?anchor=center&mode=crop&quality=100&width=750"
              alt=""
            />
          </div>
          <div class="test4">
            <img
              class="img4 player-main"
              src="https://cdne-totv8-prod-southeastasia.azureedge.net/media/2nodcmbb/firstteam_profiles_202223_cristianromero.png?anchor=center&mode=crop&quality=100&width=750"
              alt=""
            />
          </div>
          <div class="test5">
            <img
              class="img5 player-main"
              src="https://cdne-totv8-prod-southeastasia.azureedge.net/media/li1kjrbj/firstteam_profiles_202223_bendavies.png?anchor=center&mode=crop&quality=100&width=750"
              alt=""
            />
          </div>
          <div class="test6">
            <img
              class="img6 player-main"
              src="https://cdne-totv8-prod-southeastasia.azureedge.net/media/0saaniki/firstteam_profiles_202223_rodrigobentancur.png?anchor=center&mode=crop&quality=100&width=750"
              alt=""
            />
          </div>
          <div class="test7">
            <img
              class="img7 player-main"
              src="https://cdne-totv8-prod-southeastasia.azureedge.net/media/vbin0hzi/firstteam_profiles_202223_pierreemilehojbjerg.png?anchor=center&mode=crop&quality=100&width=750"
              alt=""
            />
          </div>
          <div class="test8">
            <img
              class="img8 player-main"
              src="https://cdne-totv8-prod-southeastasia.azureedge.net/media/mglbmi3t/firstteam_profiles_202223_emersonroyal.png?anchor=center&mode=crop&quality=100&width=750"
              alt=""
            />
          </div>
          <div class="test9">
            <img
              class="img9 player-main"
              src="https://cdne-totv8-prod-southeastasia.azureedge.net/media/dg1f1xip/firstteam_profiles_202223_richarlison.png?anchor=center&mode=crop&quality=100&width=750"
              alt=""
            />
          </div>
          <div class="test10">
            <img
              class="img10 player-main"
              src="https://cdne-totv8-prod-southeastasia.azureedge.net/media/tkgczptd/firstteam_profiles_202223_harrykane.png?anchor=center&mode=crop&quality=100&width=750"
              alt=""
            />
          </div>
          <div class="test11">
            <img
              class="img11 player-main"
              src="https://cdne-totv8-prod-southeastasia.azureedge.net/media/t4onkhdo/firstteam_profiles_202223_heungminson.png?anchor=center&mode=crop&quality=100&width=750"
              alt=""
            />
          </div>
          <div>
            <!-- <div class="st"> -->
            <!-- <img class="strategy" src="./st.jpg" alt="" /> -->
            <!-- </div> -->
          </div>
        </div>
      </div>

      <section class="whole">
        <section>
          <div>
            <img
              class="map"
              src="https://as1.ftcdn.net/v2/jpg/02/49/28/88/1000_F_249288849_FSPuTZ1xprgfdd1otw2rUNXh7jrRKPkQ.jpg"
              alt=""
            />
          </div>
        </section>
        <section class="playerA">
          <div class="player1">1</div>
          <div class="player2">2</div>
          <div class="player3">3</div>
          <div class="player4">4</div>
          <div class="player5">5</div>
          <div class="player6">6</div>
          <div class="player7">7</div>
          <div class="player8">8</div>
          <div class="player9">9</div>
          <div class="player10">10</div>
          <div class="player11">11</div>
        </section>
        <section class="playerB">
          <!-- <div class="playerB1">1</div>
          <div class="playerB2">2</div>
          <div class="playerB3">3</div>
          <div class="playerB4">4</div>
          <div class="playerB5">5</div>
          <div class="playerB6">6</div>
          <div class="playerB7">7</div>
          <div class="playerB8">8</div>
          <div class="playerB9">9</div>
          <div class="playerB10">10</div>
          <div class="playerB11">11</div> -->
        </section>
        <div class="ball1">
          <img
            class="ball"
            src="https://gongu.copyright.or.kr/gongu/wrt/cmmn/wrtFileImageView.do?wrtSn=13049016&filePath=L2Rpc2sxL25ld2RhdGEvMjAxNy8yMS9DTFM0L1dSVF9UUkVBU1VSRV9IVU5UXzIwMTcwOTExXzE1NA==&thumbAt=Y&thumbSe=b_tbumb&wrtTy=10004"
            alt="goo"
          />
        </div>
      </section>
    </section>
    <img class="strategy" src="../static/images/st.jpg" alt="" />
    <section class="tex1">
      <div>
        <h1></h1>
      </div>
    </section>
    <div class="pic">
      <!-- <section class="hidden">
        <div class="tot">
          <img class="tot1" src="./tot.png" alt="goo" />
        </div>
      </section> -->
      <section class="pic1">
        <div class="hidden">
          <img class="conte1" src="../static/images/con1.png" alt="goo" />
        </div>
        <div class="hidden1">
          <img class="conte1" src="../static/images/to1.png" alt="goo" />
        </div>
      </section>
    </div>
    <div class="gogo"></div>
  </body>
</html>
