@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya&display=swap");
@import url("https://fonts.googleapis.com/css?family=Catamaran&display=swap");

:root {
  --margin: 110px;
  /* --background: #e2e2f5; */
  --perspective: 100%;
  --transition: transform 1s .2s, z-index 0s 0.5s;
  --yellow: #ffce14;
}

.pages.test {
  border: 2px solid red; 
}

.slidebook .pages_page {
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
  transform-origin: 0 50%;
}


.overlayy {
  background: rgba(255, 155, 0, 0.7019607843);
  position: fixed;
  width: 100%;
  pointer-events: none;
  height: 100%;
  z-index: -1;
}

.slidebook {
  box-sizing: border-box;
  position:relative;
  margin: 0;
  padding: 0;
  background: var(--background);
  height: 100vh;
  overflow: hidden;
  font-family: "Sree Krushnadevaraya", serif;
} 
.slidebook .logo {
  font-size: 20px;
  padding: 33px 30px 30px 30px;
  line-height: 0;
  color: var(--yellow);
}
.slidebook .pagenumber {
  position: absolute;
  bottom: 20px;
  left: 34px;
  width: 400px;
  color: var(--yellow);
  letter-spacing: 60px;
}
.slidebook .pagenumber:after {
  height: 1px;
  width: 100px;
  background: var(--yellow);
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 19px;
}
.slidebook .hamburger {
  position: absolute;
  top: 38px;
  height: 20px;
  width: 30px;
  right: 30px;
  z-index: 1;
}
.slidebook .hamburger_part {
  width: 20px;
  height: 1px;
  position: absolute;
  right: 0;
  background: var(--yellow);
}
.slidebook .hamburger_part:nth-of-type(1) {
  top: 0px;
}
.slidebook .hamburger_part:nth-of-type(2) {
  top: 4.5px;
}
.slidebook .hamburger_part:nth-of-type(3) {
  top: 9px;
}
.slidebook .hamburger_part:last-child {
  width: 8px;
}
.slidebook .pages {
  width: calc(100% - var(--margin));
  height: calc(100% - var(--margin));
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  perspective: var(--perspective);
  box-shadow: 0 41px 38px -20px #0a3150;
  max-width: 1300px;
  max-height: 650px;
}
.slidebook .pages input {
  display: none;
}
.slidebook .pages input:nth-of-type(3):checked + input + div + div + div + div + div .pagenumber,
.slidebook .pages input:nth-of-type(3):checked + input + div + div + div + div + div + div .pagenumber {
  letter-spacing: 59px;
  transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(3):checked + input + div + div + div + div + div .pagenumber:after,
.slidebook .pages input:nth-of-type(3):checked + input + div + div + div + div + div + div .pagenumber:after {
  width: 100px;
  transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(3):checked + input + div + div + div + div + div .content_centerimage,
.slidebook .pages input:nth-of-type(3):checked + input + div + div + div + div + div + div .content_centerimage {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: all 0.8s 0.5s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(3):checked + input + div + div + div + div + div .content h4, .slidebook .pages input:nth-of-type(3):checked + input + div + div + div + div + div .content h6,
.slidebook .pages input:nth-of-type(3):checked + input + div + div + div + div + div + div .content h4,
.slidebook .pages input:nth-of-type(3):checked + input + div + div + div + div + div + div .content h6 {
  transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(3):not(checked) + input + div + div + div + div + div .pagenumber,
.slidebook .pages input:nth-of-type(3):not(:checked) + input + div + div + div + div + div + div .pagenumber {
  letter-spacing: 0;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(3):not(checked) + input + div + div + div + div + div .pagenumber:after,
.slidebook .pages input:nth-of-type(3):not(:checked) + input + div + div + div + div + div + div .pagenumber:after {
  width: 0px;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(3):not(checked) + input + div + div + div + div + div .content_centerimage,
.slidebook .pages input:nth-of-type(3):not(:checked) + input + div + div + div + div + div + div .content_centerimage {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition: all 0.8s 0s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(3):not(checked) + input + div + div + div + div + div .content h4, .slidebook .pages input:nth-of-type(3):not(checked) + input + div + div + div + div + div .content h6,
.slidebook .pages input:nth-of-type(3):not(:checked) + input + div + div + div + div + div + div .content h4,
.slidebook .pages input:nth-of-type(3):not(:checked) + input + div + div + div + div + div + div .content h6 {
  transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
  transform: translateZ(200px);
}
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div .pagenumber,
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div + div .pagenumber {
  letter-spacing: 59px;
  transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div .pagenumber:after,
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div + div .pagenumber:after {
  width: 100px;
  transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div .content_section,
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div + div .content_section {
  transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
  filter: blur(0);
  opacity: 1;
}
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div .content_section:nth-of-type(1),
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div + div .content_section:nth-of-type(1) {
  left: 100px;
  transition: all 0.8s 0.3s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div .content_section:nth-of-type(2),
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div + div .content_section:nth-of-type(2) {
  left: 230px;
  transition: all 0.8s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div .content_section:nth-of-type(3),
.slidebook .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div + div .content_section:nth-of-type(3) {
  left: 130px;
  transition: all 0.8s 0.5s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .pagenumber,
.slidebook .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .pagenumber {
  letter-spacing: 0;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .pagenumber:after,
.slidebook .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .pagenumber:after {
  width: 0px;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .content_section,
.slidebook .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .content_section {
  filter: blur(20px);
  transition: all 0.8s 0.5s cubic-bezier(0.6, 0.045, 0.165, 1);
  opacity: 0;
}
.slidebook .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .content_section:nth-of-type(1),
.slidebook .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .content_section:nth-of-type(1) {
  left: 0;
}
.slidebook .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .content_section:nth-of-type(2),
.slidebook .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .content_section:nth-of-type(2) {
  left: 0;
}
.slidebook .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .content_section:nth-of-type(3),
.slidebook .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .content_section:nth-of-type(3) {
  left: 0;
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div h5 span,
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div h5 span {
  transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div h5 span:nth-of-type(1),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div h5 span:nth-of-type(1) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div h5 span:nth-of-type(2),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div h5 span:nth-of-type(2) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div h5 span:nth-of-type(3),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div h5 span:nth-of-type(3) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div h5 span:nth-of-type(4),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div h5 span:nth-of-type(4) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div h5 span:nth-of-type(5),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div h5 span:nth-of-type(5) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div h5 span:nth-of-type(6),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div h5 span:nth-of-type(6) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .pagenumber,
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .pagenumber {
  letter-spacing: 59px;
  transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .pagenumber:after,
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .pagenumber:after {
  width: 100px;
  transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content,
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content {
  filter: blur(0px);
  opacity: 1;
  transition: all 1s 0.5s;
  perspective: var(--perspective);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content_picture,
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content_picture {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: all 1s 0.8s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span,
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span {
  transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(1),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(1) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(2),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(2) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(3),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(3) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(4),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(4) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(5),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(5) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(6),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(6) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(7),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(7) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(8),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(8) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(9),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(9) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(10),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(10) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(11),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(11) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(12),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(12) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(13),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(13) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(14),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(14) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(15),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(15) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(16),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(16) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(17),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(17) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(18),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(18) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(19),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(19) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(20),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(20) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(21),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(21) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(22),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(22) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(23),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(23) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(24),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(24) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(25),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(25) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(26),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(26) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(27),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(27) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(28),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(28) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(29),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(29) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(30),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(30) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(31),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(31) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(32),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(32) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(33),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(33) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(34),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(34) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(35),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(35) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(36),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(36) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(37),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(37) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(38),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(38) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(39),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(39) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span:nth-of-type(40),
.slidebook .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span:nth-of-type(40) {
  transform: translateZ(0);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div h5 span,
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div h5 span {
  transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div h5 span:nth-of-type(1),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div h5 span:nth-of-type(1) {
  transform: translateZ(181px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div h5 span:nth-of-type(2),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div h5 span:nth-of-type(2) {
  transform: translateZ(193px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div h5 span:nth-of-type(3),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div h5 span:nth-of-type(3) {
  transform: translateZ(536px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div h5 span:nth-of-type(4),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div h5 span:nth-of-type(4) {
  transform: translateZ(97px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div h5 span:nth-of-type(5),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div h5 span:nth-of-type(5) {
  transform: translateZ(373px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div h5 span:nth-of-type(6),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div h5 span:nth-of-type(6) {
  transform: translateZ(65px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .pagenumber,
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .pagenumber {
  letter-spacing: 0;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .pagenumber:after,
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .pagenumber:after {
  width: 0px;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content,
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content {
  filter: blur(10px);
  opacity: 0;
  transform: translateZ(50px);
  transition: all 1s 0.2s;
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content_picture,
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content_picture {
  transition: all 0.4s 0s cubic-bezier(0.6, 0.045, 0.165, 1);
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span,
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span {
  transition: all 1.5s 0s cubic-bezier(0.6, 0.045, 0.165, 1);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(1),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(1) {
  transform: translateZ(275px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(2),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(2) {
  transform: translateZ(511px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(3),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(3) {
  transform: translateZ(589px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(4),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(4) {
  transform: translateZ(594px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(5),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(5) {
  transform: translateZ(489px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(6),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(6) {
  transform: translateZ(283px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(7),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(7) {
  transform: translateZ(195px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(8),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(8) {
  transform: translateZ(495px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(9),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(9) {
  transform: translateZ(496px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(10),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(10) {
  transform: translateZ(435px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(11),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(11) {
  transform: translateZ(652px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(12),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(12) {
  transform: translateZ(335px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(13),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(13) {
  transform: translateZ(605px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(14),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(14) {
  transform: translateZ(666px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(15),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(15) {
  transform: translateZ(630px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(16),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(16) {
  transform: translateZ(559px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(17),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(17) {
  transform: translateZ(656px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(18),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(18) {
  transform: translateZ(601px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(19),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(19) {
  transform: translateZ(739px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(20),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(20) {
  transform: translateZ(719px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(21),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(21) {
  transform: translateZ(572px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(22),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(22) {
  transform: translateZ(452px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(23),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(23) {
  transform: translateZ(536px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(24),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(24) {
  transform: translateZ(483px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(25),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(25) {
  transform: translateZ(699px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(26),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(26) {
  transform: translateZ(290px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(27),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(27) {
  transform: translateZ(282px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(28),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(28) {
  transform: translateZ(275px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(29),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(29) {
  transform: translateZ(469px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(30),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(30) {
  transform: translateZ(371px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(31),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(31) {
  transform: translateZ(403px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(32),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(32) {
  transform: translateZ(444px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(33),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(33) {
  transform: translateZ(447px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(34),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(34) {
  transform: translateZ(399px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(35),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(35) {
  transform: translateZ(656px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(36),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(36) {
  transform: translateZ(364px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(37),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(37) {
  transform: translateZ(655px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(38),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(38) {
  transform: translateZ(631px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(39),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(39) {
  transform: translateZ(420px);
}
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span:nth-of-type(40),
.slidebook .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span:nth-of-type(40) {
  transform: translateZ(683px);
}
.slidebook .pages_page {
  pointer-events: none;
  float: right;
  transform-style: preserve-3d;
}
.slidebook .pages_page:nth-of-type(1) {
  z-index: 7;
  transition: var(--transition);
}
.slidebook .pages_page:nth-of-type(2) {
  z-index: 6;
  transition: var(--transition);
}
.slidebook .pages_page:nth-of-type(3) {
  z-index: 5;
  transition: var(--transition);
}
.slidebook .pages_page:nth-of-type(4) {
  z-index: 4;
  transition: var(--transition);
}
.slidebook .pages_page:nth-of-type(5) {
  z-index: 3;
  transition: var(--transition);
}
.slidebook .pages_page:nth-of-type(6) {
  z-index: 2;
  transition: var(--transition);
}
.slidebook .pages_page:nth-of-type(7) {
  z-index: 1;
  transition: var(--transition);
}
.slidebook .pages_page:nth-of-type(8) {
  z-index: 0;
  transition: var(--transition);
}
.slidebook .pages_page:nth-of-type(1) {
  left: 0;
  z-index: 0;
  transform: rotateY(0deg) !important;
  pointer-events: none;
}
.slidebook .pages_page:nth-of-type(1) .pages_page__inner {
  transform: rotateY(0deg) !important;
}
.slidebook .pages_page:nth-of-type(2) {
  pointer-events: all;
}
.slidebook .pages_page:nth-of-type(odd) .pages_page__inner {
  transform: rotateY(180deg);
}
.slidebook .pages_page:nth-of-type(1) .pages_page__inner {
  background-size: 880px !important;
  background-position: center !important;
  background: url("https://cdnfl01.viewbug.com/media/mediafiles/2017/10/16/75667840_large.jpg");
}
.slidebook .pages_page:nth-of-type(2) .pages_page__inner {
  background-size: 870px !important;
  background-position: center !important;
  background: url("https://data.whicdn.com/images/86911589/original.jpg");
}
.slidebook .pages_page:nth-of-type(2) .pages_page__inner h4 {
  color: black;
  z-index: 3;
}
.slidebook .pages_page:nth-of-type(3) .pages_page__inner {
  background: url("https://iso.500px.com/wp-content/uploads/2014/12/fashion_1.jpg");
  background-position: 0 0;
}
.slidebook .pages_page:nth-of-type(3) .pages_page__inner .content {
  -webkit-clip-path: polygon(0% 0%, 50% 0, 50% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 0, 50% 100%, 0% 100%);
  height: 100%;
  transform-style: preserve-3d;
  width: 200%;
  position: absolute;
}
.slidebook .pages_page:nth-of-type(6) .pages_page__inner {
  background: #4a5f5c;
}
.slidebook .pages_page:nth-of-type(4) .pages_page__inner .content {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
  height: 100%;
  width: 200%;
  position: absolute;
  left: -100%;
}
.slidebook .pages_page:nth-of-type(4) .pages_page__inner .bg {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
  height: 100%;
  width: 200%;
  position: relative;
  background: url("https://iso.500px.com/wp-content/uploads/2014/12/fashion_1.jpg");
  background-size: 1400px !important;
  left: -100%;
}
.slidebook .pages_page:nth-of-type(5) .pages_page__inner {
  background: url("http://cdn.lightgalleries.net/4d80d92265da9/images/Tayna16-12_90574-2.jpg");
  background-size: 870px !important;
  background-position: center !important;
}
.slidebook .pages_page:nth-of-type(7) .pages_page__inner {
  background: url("http://ruthrose.co.uk/wp-content/uploads/2018/04/lingerie-fashion-photographer-photography-shoot-fitness-swimwear-shoot180317_POCKET9661-f1.jpg");
  background-position: 0 0;
  background-size: 1400px !important;
}
.slidebook .pages_page:nth-of-type(7) .pages_page__inner .content_section {
  position: absolute;
}
.slidebook .pages_page:nth-of-type(7) .pages_page__inner .content_section h2 {
  margin: 0;
}
.slidebook .pages_page:nth-of-type(7) .pages_page__inner .content_section h2,
.slidebook .pages_page:nth-of-type(7) .pages_page__inner .content_section p {
  margin: 0;
  color: var(--yellow);
}
.slidebook .pages_page:nth-of-type(7) .pages_page__inner .content_section p {
  line-height: 18px;
  opacity: 0.95;
  font-size: 13px;
}
.slidebook .pages_page:nth-of-type(7) .pages_page__inner .content_section:nth-of-type(1) {
  top: 100px;
  width: 200px;
}
.slidebook .pages_page:nth-of-type(7) .pages_page__inner .content_section:nth-of-type(2) {
  top: 274px;
  width: 300px;
}
.slidebook .pages_page:nth-of-type(7) .pages_page__inner .content_section:nth-of-type(3) {
  top: 410px;
  width: 260px;
}
.slidebook .pages_page:nth-of-type(8) .pages_page__inner {
  background: url("http://ruthrose.co.uk/wp-content/uploads/2018/04/lingerie-fashion-photographer-photography-shoot-fitness-swimwear-shoot180317_POCKET9661-f1.jpg");
  background-position: 0 0;
}
.slidebook .pages_page:nth-of-type(8) .pages_page__inner .content {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
  height: 100%;
  width: 200%;
  position: absolute;
  left: -100%;
}
.slidebook .pages_page:nth-of-type(8) .pages_page__inner .bg {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
  height: 100%;
  width: 200%;
  position: relative;
  background: url("http://ruthrose.co.uk/wp-content/uploads/2018/04/lingerie-fashion-photographer-photography-shoot-fitness-swimwear-shoot180317_POCKET9661-f1.jpg");
  background-size: 1400px !important;
  left: -100%;
}
.slidebook .pages_page__inner {
  background: url("https://www.colorfusionstudio.com/wp-content/uploads/2015/07/cfs-models-003-683x1024.jpg");
  background-size: 1400px !important;
  height: 100%;
  transform-style: preserve-3d;
}
.slidebook .pages_page__inner .control {
  position: absolute;
  z-index: 1;
  width: 31px;
  height: 31px;
  border: 1px solid var(--yellow);
  border-radius: 100px;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  cursor: pointer;
  transition: all 0.23s;
  box-shadow: 0 0 0 0px #bf9726;
}
.slidebook .pages_page__inner .control:hover {
  box-shadow: 0 0 0 10px rgba(191, 151, 38, 0.3);
  left: 34px;
}
.slidebook .pages_page__inner .control:hover:before {
  width: 40px;
  left: -40px;
}
.slidebook .pages_page__inner .control.next {
  left: auto;
  right: 30px;
}
.slidebook .pages_page__inner .control.next:hover {
  right: 34px;
}
.slidebook .pages_page__inner .control.next:hover:before {
  width: 40px;
  right: -40px;
}
.slidebook .pages_page__inner .control.next:before {
  left: auto;
  right: -33px;
}
.slidebook .pages_page__inner .control.next:after {
  transform: rotate(180deg);
  top: 5px;
  left: 11px;
  pointer-events: none;
}
.slidebook .pages_page__inner .control label {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}
.slidebook .pages_page__inner .control:after {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--yellow);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}
.slidebook .pages_page__inner .control:before {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 1px;
  background: var(--yellow);
  top: 50%;
  transform: translateY(-50%);
  left: -32px;
  transition: all 0.2s;
}
.slidebook .pages_page__inner .footer {
  position: absolute;
  bottom: 26px;
  z-index: 2;
  color: var(--yellow);
  right: 30px;
  font-size: 12px;
}
.slidebook .pages_page__inner .footer i {
  margin: 0 10px;
}
.slidebook .pages_page__inner .content {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 0;
  transform: translateZ(0px);
  width: 100%;
  height: 100%;
}
.slidebook .pages_page__inner .content_centerimage {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  text-align: center;
  width: 60%;
  transform: translateY(-50%);
  max-width: 300px;
}
.slidebook .pages_page__inner .content_centerimage img {
  width: 100%;
}
.slidebook .pages_page__inner .content_center {
  position: absolute;
  text-align: center;
  width: 260px;
  right: -130px;
  padding-bottom: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
.slidebook .pages_page__inner .content_center img {
  width: 300px;
}
.slidebook .pages_page__inner .content_center .logo {
  font-size: 30px;
}
.slidebook .pages_page__inner .content_center h4,
.slidebook .pages_page__inner .content_center h6 {
  color: var(--yellow);
  font-size: 38px;
  font-weight: normal;
  margin: 0;
  line-height: 38px;
}
.slidebook .pages_page__inner .content_center h4 {
  color: var(--yellow);
  font-size: 38px;
  font-weight: normal;
  margin: 0;
  line-height: 38px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 15px 20px 29px;
}
.slidebook .pages_page__inner .content_center h6 {
  font-size: 20px;
  margin: 0;
  opacity: 0.5;
}
.slidebook .pages_page__inner .content_center h6:nth-of-type(2) {
  font-size: 16px;
  margin-top: 10px;
}
.slidebook .pages_page__inner .content_center.right {
  right: auto;
  left: -130px;
  -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}
.slidebook .pages_page__inner .content_picture {
  width: 220px;
  position: absolute;
  left: 50%;
  transform: translateX(-40px);
  top: 294px;
}
.slidebook .pages_page__inner .content_picture img {
  width: 100%;
  margin: 0;
  display: inline-block;
}
.slidebook .pages_page__inner .content_quote {
  position: absolute;
  left: calc(50% + 250px);
  bottom: 100px;
  width: 200px;
}
.slidebook .pages_page__inner .content_quote h5 span {
  display: block;
  color: var(--yellow);
  font-size: 34px;
  font-weight: normal;
  line-height: 24px;
}
.slidebook .pages_page__inner .content_quote h5 span.name, .slidebook .pages_page__inner .content_quote h5 span.auth {
  font-size: 13px;
  opacity: 0.7;
  margin: 22px 0 0 0;
  position: Relative;
  left: 140px;
}
.slidebook .pages_page__inner .content_quote h5 span.auth {
  margin: -7px 0;
}
.slidebook .pages_page__inner .content_quote h5 span.quo {
  font-family: "Catamaran", sans-serif;
  font-size: 80px;
  position: absolute;
  left: 195px;
  top: 90px;
}
.slidebook .pages_page__inner .content_quote h5 span.quo:nth-of-type(1) i {
  transform: rotate(180deg);
  left: -226px;
  top: -100px;
  display: block;
  font-style: normal;
  position: relative;
}
.slidebook .pages_page__inner .content_offset {
  position: absolute;
  width: 280px;
  top: 260px;
  left: 50%;
  transform: translateX(-350px);
  color: var(--yellow);
}
.slidebook .pages_page__inner .content_offset h2,
.slidebook .pages_page__inner .content_offset p {
  margin: 0;
}
.slidebook .pages_page__inner .content_offset h2 {
  color: var(--yellow);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 8px 0;
}
.slidebook .pages_page__inner .content_offset p {
  font-size: 13px;
  line-height: 20px;
  color: var(--yellow);
}
.slidebook .pages_page__inner .content h1 {
  font-size: 53px;
  color: var(--yellow);
  text-transform: uppercase;
  padding: 120px;
  margin: 0;
  font-weight: normal;
  letter-spacing: -6px;
  line-height: 51px;
  transform-style: preserve-3d;
}
.slidebook .pages_page__inner .content h1 span {
  transform-style: preserve-3d;
  display: inline-block;
}
.slidebook .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(2):checked + input + input + div {
  pointer-events: none;
  z-index: 9;
}
.slidebook .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div {
  pointer-events: none;
  z-index: 9;
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div {
  pointer-events: none;
  z-index: 9;
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div {
  pointer-events: none;
  z-index: 9;
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div {
  pointer-events: none;
  z-index: 9;
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div {
  pointer-events: none;
  z-index: 9;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div {
  pointer-events: none;
  z-index: 9;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div {
  pointer-events: none;
  z-index: 9;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div {
  pointer-events: none;
  z-index: 9;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div {
  pointer-events: none;
  z-index: 9;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div {
  pointer-events: none;
  z-index: 9;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div + div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div + div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div + div + div {
  pointer-events: all;
}
.slidebook .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div {
  pointer-events: none;
  z-index: 9;
}